@charset "gb2312"; 

html,body,div,span,iframe,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,abbr,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,select
	{
	margin: 0;
	padding: 0
}

body {
	font: 12px/ 22px Arial, "\5B8B\4F53", "SimSun", HELVETICA,
		"Hiragino Sans GB";
	color: #333
}

fieldset,img,abbr,acronym {
	border: 0
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: normal
}

ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

* {
	outline: none
}

a {
	text-decoration: none
}

a:hover {
	color: #c00;
	text-decoration: underline
}

.cp {
	cursor: pointer
}

.en_ff {
	font-family: Impact, Arial, "\5FAE\8F6F\96C5\9ED1", 微软雅黑
}

.cn_ff {
	font-family: Arial, Verdana, sans-serif, 宋体, "Microsoft Yahei", 微软雅黑
}

.tf {
	font-family: "\5FAE\8F6F\96C5\9ED1", 微软雅黑, "Microsoft Yahei", 雅黑\9,
		Arial
}

.f12 {
	font-size: 12px
}

.f14 {
	font-size: 14px
}

.f15 {
	font-size: 15px
}

.f16 {
	font-size: 16px
}

.f18 {
	font-size: 18px
}

.f20 {
	font-size: 20px
}

.f22 {
	font-size: 22px
}

.f24 {
	font-size: 24px
}

.fb {
	font-weight: bold
}

.fn {
	font-weight: normal
}

.t2 {
	text-indent: 2em
}

.lh150 {
	line-height: 150%
}

.lh180 {
	line-height: 180%
}

.lh200 {
	line-height: 200%
}

.lh18 {
	line-height: 18px
}

.lh20 {
	line-height: 20px
}

.lh22 {
	line-height: 22px
}

.lh24 {
	line-height: 24px
}

.lh26 {
	line-height: 26px
}

.lh28 {
	line-height: 28px
}

.unl {
	text-decoration: underline
}

.no_unl {
	text-decoration: none
}

.cl_fff,.cl_fff a {
	color: #fff !important
}

.cl_aaa,.cl_aaa a {
	color: #aaa !important
}

.cl_999,.cl_999 a {
	color: #999 !important
}

.cl_666,.cl_666 a {
	color: #666 !important
}

.cl_333,.cl_333 a {
	color: #333 !important
}

.cl_000,.cl_000 a {
	color: #000 !important
}

.cl_f00,.cl_f00 a {
	color: #f00 !important
}

.cl_c00,.cl_c00 a {
	color: #c00 !important
}

.cl_f33,.cl_f33 a {
	color: #f33 !important
}

.cl_f60,.cl_f60 a {
	color: #f60 !important
}

.cl_f93,.cl_f93 a {
	color: #f93 !important
}

.cl_ff0,.cl_ff0 a {
	color: #ff0 !important
}

.cl_049,.cl_049 a {
	color: #049 !important
}

.cl_06c,.cl_06c a {
	color: #06c !important
}

.tl {
	text-align: left
}

.tc {
	text-align: center
}

.tr {
	text-align: right
}

.mauto {
	margin: 0 auto
}

.main_960 {
	width: 960px;
	margin: 0 auto
}

.main_1000 {
	width: 1000px;
	margin: 0 auto
}

.fl {
	float: left;
	display: inline
}

.fr {
	float: right;
	display: inline
}

.jfl {
	float: left
}

.jfr {
	float: right
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.clearfix {
	zoom: 1
}

.clear {
	clear: both;
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	line-height: 0px
}

.vm {
	vertical-align: middle
}

.pr {
	position: relative
}

.pa {
	position: absolute
}

.zoom {
	zoom: 1
}

.none {
	display: none
}

.db {
	display: block
}

.dib {
	display: inline-block
}

.hidden {
	overflow: hidden
}

.wb {
	word-break: break-all;
	word-wrap: break-word
}

.ts_linear {
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear
}

.rbox2 {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

.rbox4 {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.rbox6 {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}

.rbox8 {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px
}

.rbox10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px
}

.rbox50 {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.w250 {
	width: 250px
}

.w300 {
	width: 300px
}

.w310 {
	width: 310px
}

.w350 {
	width: 350px
}

.w640 {
	width: 640px
}

.w650 {
	width: 650px
}

.w680 {
	width: 680px
}

.w960 {
	width: 960px
}

.w1000 {
	width: 1000px
}

.mt02 {
	margin-top: 2px
}

.mt05 {
	margin-top: 5px
}

.mt06 {
	margin-top: 6px
}

.mt10 {
	margin-top: 10px
}

.mt15 {
	margin-top: 15px
}

.mt20 {
	margin-top: 20px
}

.mt25 {
	margin-top: 25px
}

.mt30 {
	margin-top: 30px
}

.mt35 {
	margin-top: 35px
}

.mb02 {
	margin-bottom: 2px
}

.mb05 {
	margin-bottom: 5px
}

.mb06 {
	margin-bottom: 6px
}

.mb10 {
	margin-bottom: 10px
}

.mb15 {
	margin-bottom: 15px
}

.mb20 {
	margin-bottom: 20px
}

.mb25 {
	margin-bottom: 25px
}

.mb30 {
	margin-bottom: 30px
}

.mb35 {
	margin-bottom: 35px
}

.ml05 {
	margin-left: 5px
}

.ml10 {
	margin-left: 10px
}

.ml15 {
	margin-left: 15px
}

.ml20 {
	margin-left: 20px
}

.ml25 {
	margin-left: 25px
}

.ml30 {
	margin-left: 30px
}

.mr05 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr15 {
	margin-right: 15px
}

.mr20 {
	margin-right: 20px
}

.mr25 {
	margin-right: 25px
}

.mr30 {
	margin-right: 30px
}

.p10 {
	padding: 10px
}

.p15 {
	padding: 15px
}

.pt05 {
	padding-top: 5px
}

.pt10 {
	padding-top: 10px
}

.pt15 {
	padding-top: 15px
}

.pt20 {
	padding-top: 20px
}

.pt25 {
	padding-top: 25px
}

.pt30 {
	padding-top: 30px
}

.pb05 {
	padding-bottom: 5px
}

.pb10 {
	padding-bottom: 10px
}

.pb15 {
	padding-bottom: 15px
}

.pb20 {
	padding-bottom: 20px
}

.pb25 {
	padding-bottom: 25px
}

.pb30 {
	padding-bottom: 30px
}

.pl05 {
	padding-left: 5px
}

.pl10 {
	padding-left: 10px
}

.pl15 {
	padding-left: 15px
}

.pl20 {
	padding-left: 20px
}

.pl25 {
	padding-left: 25px
}

.pl30 {
	padding-left: 30px
}

.pr05 {
	padding-right: 5px
}

.pr10 {
	padding-right: 10px
}

.pr15 {
	padding-right: 15px
}

.pr20 {
	padding-right: 20px
}

.pr25 {
	padding-right: 25px
}

.pr30 {
	padding-right: 30px
}