/*公用的css*/

/*链接设置*/
a{text-decoration : none }
a:link{color : #003399}
a:hover{color : #996600;
    text-decoration : underline }
a:visited{color: #003399}

a.highLight:link{color : #ffffff}
a.highLight:hover {color :#ffffff;
    text-decoration : underline}
a.highLight:visited{color:#ffffff}

a.black:link{color : #000000}
a.black:hover {color :#000000;
    text-decoration : underline}
a.black:visited{color:#000000}
   
/*body设置*/
body {background-color : #EDF3FF;
    font-family : arial,SimSun,verdana,helvetica;
    font-size:10pt; 
    line-height:130%;
    margin:0px}

/*全局输入框设置*/
input{font-size:10pt;
    font-family : SimSun,arial,verdana,helvetica}
/*全局多行文本框设置*/
textarea{font-size:10pt;
    font-family : SimSun,arial,verdana,helvetica}
/*全局select设置*/
select{font-size:10pt;
    font-family : SimSun,arial,verdana,helvetica}

/*输入框边框设置*/
input.border{border:1px solid #7F9DB9;
    height:20px}
/*编辑多行文本边框设置*/
textarea.border{border:1px solid #7F9DB9}
/*select边框设置*/
select.border{border:1px solid #7F9DB9}

/*不打印*/
@media print {
   .noPrint {display: none}
}

/*打印*/
@media screen {
   .print {display: none}
}

/*字体*/
.normalFont  {font-size: 10pt;
    font-family : arial,SimSun,verdana,helvetica;
   	line-height : 130%;}

.smallFont  {font-size: 8pt;
    font-family : arial,SimSun,verdana,helvetica;
   	line-height : 130%;}

.bigFont  {font-size: 11pt;
    font-family : arial,SimSun,verdana,helvetica;
   	line-height : 130%;}

/*firefox1.0及ns7中不支持hand,而ie5中不支持pointer*/
.pointer {cursor:pointer}

/* Tree Nav */
body.navTree {background-image : url(./images/nav/navBg.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    margin:5;
    }
td.treeNode{font-size:10pt;
    vertical-align : middle;}
td.treeFolder { font-size : 10pt;
    font-weight : bold;
	  color : #004E73;
	  line-height : 130%;
    vertical-align : middle;}
td.treeFolder a:link{color:#004E73}
td.treeFolder a:hover{color:#996600;
    text-decoration : underline}
td.treeFolder a:visited{color:#004E73}
span.treeFolder{cursor:pointer}

td.treeItem { font-size : 10pt;
    color : #004E73;
	  line-height : 130%;
    vertical-align : middle;}
td.treeItem a:link{color:#003399}
td.treeItem a:hover{color:#996600;
    text-decoration : underline}
td.treeItem a:visited{color:#003399}

img.tree{border-width: 0;
    vertical-align : middle;}/*ns7中用border:none会在出现边框*/

/*顶部标题工具栏*/
div.topBar{width:100%;
    height:23px;
    background: url(./images/public/bg/topBarBg.gif) repeat-x}
td.topTitle{color:#004E73;
    white-space:nowrap;
    font-size:10pt;
    font-weight:bold}/*标题*/
td.topTool{white-space:nowrap;
   cursor:pointer}/*标题工具，如隐藏显示条件*/
td.topToolText{color:#004E73;
    white-space:nowrap;
    font-size:9pt;}/*标题工具，如隐藏显示条件*/

/*tab标签页*/
/*tab显示在底部*/
div.tabContainer{width:100%;
    margin-bottom:1px}
td.tabTitle{background-image : url(./images/public/tab/top/middle.gif); 
    font-size:9pt;
    color:#004E73;
    text-align:center;
    cursor:pointer}
td.tabTitleSel{background-image : url(./images/public/tab/top/middleSel.gif); 
    font-size:9pt;
    color:#004E73;
    text-align:center;
    cursor:pointer}
td.tabBg{width:100%;
    background: url(./images/public/tab/top/bg.gif) repeat-x bottom}

/*tab显示在底部*/
div.tabContainer{width:100%;
    margin-top:2px}
td.b_tabTitle{background-image : url(./images/public/tab/bottom/middle.gif); 
    font-size:9pt;
    color:#004E73;
    text-align:center;
    cursor:pointer}
td.b_tabTitleSel{background-image : url(./images/public/tab/bottom/middleSel.gif); 
    font-size:9pt;
    color:#004E73;
    text-align:center;
    cursor:pointer}
td.b_tabBg{width:100%;
    background: url(./images/public/tab/bottom/bg.gif) repeat-x top}

/*tab显示在左边*/
div.l_tabContainer{width:100%;
    height:100%}
td.l_tabTitle{background-image : url(./images/public/tab/left/middle.gif); 
    font-size:9pt;
    layout-flow:vertical-ideographic;
    color:#004E73;
    text-align:center;
    cursor:pointer}
td.l_tabTitleSel{background-image : url(./images/public/tab/left/middleSel.gif); 
    font-size:9pt;
    layout-flow:vertical-ideographic;
    color:#004E73;
    text-align:center;
    cursor:pointer}
td.l_tabBg{height:100%;
    background: url(./images/public/tab/left/bg.gif) repeat-y right}

/*tab显示在右边*/
div.r_tabContainer{width:100%;
    height:100%}
td.r_tabTitle{background-image : url(./images/public/tab/right/middle.gif); 
    font-size:9pt;
    layout-flow:vertical-ideographic;
    color:#004E73;
    text-align:center;
    cursor:pointer}
td.r_tabTitleSel{background-image : url(./images/public/tab/right/middleSel.gif); 
    font-size:9pt;
    layout-flow:vertical-ideographic;
    color:#004E73;
    text-align:center;
    cursor:pointer}
td.r_tabBg{height:100%;
    background: url(./images/public/tab/right/bg.gif) repeat-y left}

/*弹出窗口底脚*/
body.popFooter{background: url(./images/public/footerBG.gif)}
td.popFooter{font-size:10pt;
    color:#FFFFFF}
a.popFooter:link{color : #ffffff}
a.popFooter:hover {color :#ffffff;
    text-decoration : underline}
a.popFooter:visited{color:#ffffff}


/*其它*/

input.button{background-image:url(./images/public/bg/buttonBg.gif);
    background-color:#ffffff;
    height:22px;
    font-size:9pt;
    margin:1px;
    border:#666666 1px solid}
input.buttons{background-image:url(./images/public/bg/buttonBg.gif);
    background-color:#ffffff;
    width:70px;
    height:22px;
    font-size:9pt;
    margin:1px;
    border:#666666 1px solid}


/*剩余宽度*/
.remainSize{width:100%}

/*打开弹出窗口*/
img.popUp{cursor:pointer;
    margin-left:1px;
    border-style:none;
    vertical-align:middle }

/*打开弹出窗口*/
img.datePicker{cursor:pointer;
    margin-left:1px;
    border-style:none;
    vertical-align:middle}

/*不允许为空*/
font.noBlankMark{color:red;
    font-size:10pt;}

.highLight {color:#FFFFFF;}
.highLightNormal {font-size:10pt;
    color:#FFFFFF;}
.red{color:red}
.redNormal{color:red;
    font-size:10pt}

/*页面底部的信息*/
.copyRight{font-size:8pt;
    color:#004E73}
.title{font-size:11pt;
    font-weight:bold;
    color:#004E73;
    font-weight:bold}
.highLightTitle{font-size:11px;
    color:#FFFFFF;
    font-weight:bold}
 
/*背景色*/
.bgDark{background-color:#81B9E2}
.bgDarker{background-color:#0871AE}
.bgLight{background-color:#DEEBF7}
.bgLighter{background-color:#EDF3FF}

